<ion-view style="" id="page1" title="Chennai Transport Aid">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Routes</option>
                    <option>Area</option>
                    <option></option>
                </select>
            </label>
        </form>
        <div style="color: rgb(118, 13, 13); text-align: center;" id="chennaiTransportAid-markdown1">
            <p>Discover awesome, easy and comfortable way of travelling in Chennai city.</p>

            <p>The application gives you quick and easy access to the nearest Bus stops, Railway stations, auto stands and much more on your Android phones. The application utilizes inbuilt database and tracking system over you device’s location service
                system.</p>
        </div>
    </ion-content>
</ion-view>