<ion-view style="" id="page3" title="Contact Us">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <ion-radio style="">Radio</ion-radio>
            <label style="" class="item item-input">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Author</h2>
                <p>Item</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>